/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f0e6; /* Color de fondo suave en tonos crema */
    color: #3e2a47; /* Texto en tono marrón oscuro */
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3e2a47; /* Fondo marrón oscuro */
    background-color: #ed9d36;
}

nav button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#bTodos {
    /*background-color: #b57f47;*/ /* Marrón claro */
    background-color: #a8e6cf; /* Verde pastel */
}

#bUnicornios {
    /*background-color: #d2a15f;*/ /* Marrón dorado */
    background-color: #f8bbd0; /* Rosa pastel */
}

#bGatos {
    /*background-color: #9e5f2f;*/ /* Marrón rojizo */
    background-color: #ffcc80; /* Naranja pastel */
}

#bOtros {
    background-color: #7b4b32; /* Marrón oscuro */
}

nav button:hover {
    opacity: 0.8; /* Efecto hover */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3e2a47;
    border-radius: 5px;
    width: 250px;
    background-color: white;
    color: #3e2a47;
}

input[type="text"]:focus {
    outline: none;
    border-color: #b57f47;
}

/* Estilos del contenedor principal */
main.amigurimis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Estilos de los artículos */
article.amigurimi {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

article.amigurimi:hover {
    background-color: #dad4d4;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    transform: scale(1.05);
}

article.amigurimi img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

article.amigurimi h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #3e2a47; /* Color del título */
}

article.amigurimi p {
    font-size: 14px;
    color: #6c4f3d; /* Texto en tono marrón claro */
}

/* Responsividad: ajusta a una columna en pantallas pequeñas */
@media (max-width: 768px) {
    main.amigurimis {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav button {
        margin-bottom: 10px;
        width: 100%;
    }

    input[type="text"] {
        width: 100%;
    }
}
